In [1]:
from MI_ETL.Connector import Source
from MI_ETL.data_extraction import DataExtraction
from MI_ETL.loader import Loader
import os


conn = Source.mongo(os.getenv('oplog_test_source_url', None))

Connecting to MongoDB...
Connected

In [2]:
data_extraction = DataExtraction(connection=conn, extract_all=[], db='sample_analytics', backfill='2023/12/25')
#data_extraction = DataExtraction(connection=conn, extract_all=[], db='sample_analytics')
final = data_extraction.extract_oplog_data()

02-Jan-24 19:23:35 - Data extraction started
02-Jan-24 19:23:52 - Data extraction ended

In [3]:
final['sales'].head(2)

,_id,username,name,address,sales_date,email
0,65918fc2dff30e8374c25d10,scottscott,Scott Scott,"2724 Mark Green Apt. 473, Port Crystal, GA 89080",2019-08-16 14:49:30,leroyanderson@example.net
1,65918fc2dff30e8374c25d11,jeffreywinters,Jeffrey Winters,"USNS Williams, FPO AE 43564",2022-07-02 13:18:17,curtissloan@example.org

In [4]:
loader = Loader(mongo_conn=conn, data=final, datalake=False, datawarehouse=True, aws={"goat":"oya"})

In [13]:
loader.run(host="horton.db.elephantsql.com",
user='ixjjsosu',
password='yyQ6NKk2D41Erq5f197_6kEskuBgCYN4',
db='ixjjsosu',
port=5432
          )

{'host': 'horton.db.elephantsql.com', 'user': 'ixjjsosu', 'password': 'yyQ6NKk2D41Erq5f197_6kEskuBgCYN4', 'db': 'ixjjsosu', 'port': 5432}
connecting to redshift
Commencing RedshiftConn write...
Incoming table is sales

OplogWorksError: Error at Loader.insert_update_record:
Issue => 'PGInspector' object has no attribute 'has_table'

In [ ]:
type(final)