In [1]:
from MI_ETL.Connector import Source
from MI_ETL.data_extraction import DataExtraction
from MI_ETL.loader import Loader
import os


conn = Source.mongo(os.getenv('oplog_test_source_url', None))

Connecting to MongoDB...
Connected

In [2]:
data_extraction = DataExtraction(connection=conn, extract_all=[], db='sample_analytics', backfill='2023/12/25')
#data_extraction = DataExtraction(connection=conn, extract_all=[], db='sample_analytics')
final = data_extraction.extract_oplog_data()

02-Jan-24 17:58:00 - Data extraction started
02-Jan-24 17:58:16 - Data extraction ended

In [3]:
final.keys()

dict_keys(['sales'])

In [5]:
final['sales'].head(2)

,_id,username,name,address,sales_date,email
0,65918fc2dff30e8374c25d10,scottscott,Scott Scott,"2724 Mark Green Apt. 473, Port Crystal, GA 89080",2019-08-16 14:49:30,leroyanderson@example.net
1,65918fc2dff30e8374c25d11,jeffreywinters,Jeffrey Winters,"USNS Williams, FPO AE 43564",2022-07-02 13:18:17,curtissloan@example.org

In [ ]:
loader = Loader(mongo_conn=conn, data=final)
loader.run(warehouse=True, bucket_name = 'case-study-testinterview', prefix='test',
    user = 'pass',
    password=  'pass',
    host = 'pass',
    port = 'pass',
    db = 'pass')